@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, h1,h2,h3,h4,h5,p,svg {
    font-family: 'Poppins';
    margin : 0; padding : 0;
}

body {
    background-color: white;
    margin : 0; padding : 0;
    color: #393E46;
}

html {
    scroll-behavior: smooth;
}



hr {
    border-radius: 20px;
    border : 2px solid #EEB76B;
    margin : 20px 0;

}



header nav {
    z-index: 10;
    background: white;
    box-shadow: 1px 1px 10px #EEB76B;
    position: fixed;
    top : 0;
    left : 0;
    right :0;
    padding: 1.5rem;
}

header nav #active {
    font-weight: bold;
    transform: scale(1.2);
    transition: .5s ease;
    color :#EEB76B;
}

header nav a {
    color :#393E46;
    text-decoration: none;

}

header nav div {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 4em;
    width : 88%;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width : 30%;
    align-items: center;
}


.containerHeader {
    width : 90%;
    display: flex;
    margin : auto;
    margin-top : 3.5rem;
    min-height: 100vh;
}

.listHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    min-height: 50vh;
}

.listHeaderContent > li {
    background: #ffdfb3;
    padding: 10px;
    list-style: none;
    border-radius: 15px;
    margin: 7px 0;
    transition: .5s ease;
}

.listHeaderContent > li:hover {
    transform: translateX(20px);
    transform: scale(1.05);
}

.containerHeader img {
    height: 95vh;
    
}

.headerContent {
    padding : 2em 3em;
    
}

.mainContainer {
    width : 80%;
    margin :auto;
    
}

#myMain h1 {
    text-align : center;
    font-weight: bolder;
    font-size: 2em;
}

.mainContent {
    display: flex;
    justify-content: space-between;
}


.mainContainer article {
    width : 60%;
}

.mainContainer aside {
    width: 35%;
}

.mainContainer h1 {
    padding-left: 15px;
    text-align:left;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
}

.mainContainer aside div {
    padding : 15px;
    background : #ffdfb3;
    margin: 10px;
    border-radius: 10px;
}

.articleContainer > li {
    padding : 5px;
    background : #ffdfb3;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    width : 100%;
    display: flex;
    flex-direction: column;
}

.articleContainer > li > img{
    width :95%;
    margin : auto auto;
}

.mainContainer img {
    transition: .3s ease;
    border: 3px solid #fdc16c;
    border-radius: 10px;
    cursor: pointer;
}

.mainContainer img:hover {
    transform: scale(1.03);
}

aside img {
    margin : auto;
    width : 100%;
}
.articleContainer > li > div {
    padding : 10px;
}

.articleContainer > li > div > a {
    text-decoration: none;
    font-weight: bold;
    color: #cc8522;
}

footer {
    width : 100%;
    margin : 0; padding : 0;
    text-align: center;
    background-color: #ffdfb3;
}

footer .footerContent {
    width : 70%;
    margin : 0 auto;
    padding : 15px;
    
}

svg {
    margin-bottom: -10px;
}

footer .footerContent .platformList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bolder;
    font-size: 1.1em;
}

footer .footerContent .platformList li {
    background-color: #fac273;
    padding: 5px;
    border-radius: 10px;
}

footer .footerContent .platformList a {
    text-decoration: none;
    color: #393E46;
}