@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, h1,h2,h3,h4,h5,p {
    font-family: 'Poppins';
    margin : 0; padding : 0;
}

body {
    background-color: white;
    margin : 0;
    color: #393E46;
}

hr {
    border-radius: 20px;
    border : 2px solid #EEB76B;
    margin : 20px 0;

}



header nav {
    
    background: white;
    box-shadow: 1px 1px 10px #EEB76B;
    position: fixed;
    top : 0;
    left : 0;
    right :0;
    padding: 1.5rem;
}

header nav div {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 4em;
    width : 88%;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width : 30%;
    align-items: center;
}


.containerHeader {
    width : 90%;
    display: flex;
    margin : auto;
    margin-top : 3.5rem;
    min-height: 100vh;
}

.listHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    min-height: 50vh;
}

.listHeaderContent > li {
    background: #ffdfb3;
    padding: 10px;
    list-style: none;
    border-radius: 15px;
    margin: 7px 0;
    transition: .5s ease;
}

.listHeaderContent > li:hover {
    transform: translateX(20px);
    transform: scale(1.05);
}

.containerHeader img {
    height: 95vh;
    
}

.headerContent {
    padding : 2em 3em;
    
}

.mainContainer {
    width : 80%;
    margin :auto;
}


.articleContainer > li {
    padding : 5px;
    background : #ffdfb3;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    display: flex;
}

.articleContainer > li > img {
    width : 200px;
}

.articleContainer > li > div {
    padding : 10px;
}